extends layout 
 
block content 
  h1= title
  if(toShow==null)
    h2 No instance to Detail
  else
  - let gameid = toShow._id 
  - let game_name = toShow.game_name
  - let version = toShow.version 
  - let price = toShow.price 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{gameid} 
  - let actionid = "/resource/game/" + gameid 
  form(id='gameForm', action= actionid, method="PUT") 
    div.form-group 
        label.gameAttr(for='game_name') game game_name 
        input#game_name(type='text', name='game_name', value= game_name )
    div.form-group 
        label.gameAttr(for='version') game version
        input#version(type='text', name='version', value= version ) 
    div.form-group 
        label.gameAttr(for='price') game price 
        input#price(type='text', name='price', value= price ) 
    input(type="submit") 
 
  script. 
    document.forms['gameForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 